.iconFilter {
  stroke: rgba(16, 24, 40, 1);
  fill: transparent;
}

.checkBox {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 95px;
  border-radius: 10px;
  border: 1px solid #1018282a;
  align-items: center;
  justify-content: center;
  padding: 0 12px;

  min-width: 100px;

  width: 100%;
  cursor: pointer;
  user-select: none;
}
.active {
  border-color: #e44848;
}

.titleIcon {
  margin: 0;
  color: (16, 24, 40, 1);
  font-size: 16px;
  font-weight: 500px;
}
