.backdrope {
  width: 100vw;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  background-attachment: fixed;
  z-index: 1000;
}

.modal {
  width: 982px;

  border-radius: 20px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.close {
  width: 32px;
  height: 32px;
  fill: black;
  color: black;
  stroke: black;
}

.headerModal {
  display: flex;
  flex-direction: column;
  margin: 25px 25px 0 25px;
  gap: 8px;
}

.name {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.info {
  display: flex;

  align-items: center;
  color: #7c7c7c;
}

.priceBox {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scroll {
  overflow: auto;
  max-height: 562px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
