.navContainer {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.navLink {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px;
}

.navLink:hover {
  background-color: #4caf50;
  border-radius: 5px;
}

.activeLink {
  background-color: #4caf50;
  border-radius: 5px;
}
