.container {
  padding: 24px 24px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(16, 24, 40, 0.2);
  max-width: 400px;
  min-width: 400px;

  gap: 24px;
  height: 532px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: left;

  color: #101828;
}

.text {
  font-size: 14px;
  color: #475467;
  text-align: left;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field input,
.field .ant-input,
.field .ant-picker {
  width: 100%;
  height: 56px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400px;
  color: rgba(16, 24, 40, 0.6);
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(247, 247, 247, 1);
}
.input {
  background-color: rgba(247, 247, 247, 1);
}

.field .ant-input-textarea {
  height: 106px;
  resize: none;
  background-color: rgba(247, 247, 247, 1);
}

.field input:focus,
.field .ant-input:focus,
.field .ant-picker:focus {
  border-color: #1890ff;
  background-color: rgba(247, 247, 247, 1);
  color: rgba(16, 24, 40, 1);
}

.error {
  border-color: #e53935;
}

.errorMessage {
  color: #e53935;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.btn {
  background-color: rgba(228, 72, 72, 1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 160px;
  height: 56px;
  border-radius: 200px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.field .ant-btn:hover {
  background-color: rgba(216, 67, 67, 1);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 324px;
}
