.boxFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 902px;
  margin: 0 25px;
  gap: 24px;
}
.section {
  display: inline-block;
  max-width: 430px;

  height: auto;
  gap: 40px;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  min-width: 430px;

  left: 0px;
  gap: 3px;
}
.vehicleBox {
  display: flex;
  flex-direction: column;

  margin-top: 44px;
  width: 430px;
  height: 286px;
}
.vehicle {
  font-size: 20px;
  font-weight: 600;
  color: rgba(16, 24, 40, 1);
  display: flex;
  height: 24px;
}
.line {
  width: 430px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  margin-top: 23px;
  margin-bottom: 24px;
}
