.cardMain {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  width: 888px;
  height: 358px;
  padding: 24px 24px;
  box-sizing: border-box;
}
.cardImg {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  min-width: 290px;
  height: 310px;
  margin-right: 24px;
  border-radius: 10px;
}

.image {
  height: 310px;

  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;

  width: 526px;
  height: 310px;
  justify-content: space-around;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 125%;
  color: rgba(16, 24, 40, 1);
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: rgba(16, 24, 40, 1);
}

.iconHeart {
  width: 24px;
  height: 24px;
  fill: rgba(228, 72, 72, 1);
  border: none;
  color: black;
  stroke: rgba(228, 72, 72, 1);
}

.deActive {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: rgba(16, 24, 40, 1);
  color: black;
  border: none;
}
.block {
  display: flex;
  gap: 10px;
}
.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.favoriteButton:focus {
  outline: none;
}

.info {
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin: 8px 0;
  width: 280px;
  height: 24px;
}

.rating {
  display: flex;
  align-items: center;
  width: 133px;
  height: 24px;
  justify-content: space-around;
  color: rgba(16, 24, 40, 1);
}

.starIcon {
  color: rgba(255, 197, 49, 1);
  margin-right: 4px;
  fill: rgba(255, 197, 49, 1);
  align-self: center;
}

.location {
  display: flex;
  font-size: 16px;
  color: rgba(16, 24, 40, 1);

  height: 24px;
  justify-content: space-around;
  align-items: center;
}

.textContainer {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 10px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}

.features span {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
}
.iconLocation {
  fill: none;
  stroke: black;
}

.btnMore {
  width: 173px;
  height: 56px;
  font-size: 16px;
  font-weight: 500px;
}

.conteyner {
  width: 526px;
  height: 62px;
  margin-bottom: 10px;
}
