.cardMain {
  display: flex;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  width: 888px;
  height: 358px;
  padding: 24px 24px;
  box-sizing: border-box;
}
.cardImg {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  min-width: 290px;
  height: 310px;
  margin-right: 24px;
  border-radius: 10px;
}

/* .cardContainer {
  display: flex;
  flex-direction: row;
} */

.image {
  height: 310px;

  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 526px;
  height: 310px;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 125%;
  color: #101828;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin: 0;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #ff5a5f;
  stroke: #f5a623;
  color: black;
}
.block {
  display: flex;
  gap: 10px;
}
.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.rating {
  display: flex;
  align-items: center;
}

.starIcon {
  color: #f5a623;
  margin-right: 4px;
}

.location {
  font-size: 14px;
  color: #888888;
}

.textContainer {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}

.features span {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
}
